/* Regole generali */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 80px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.3em;
}
h4 {
  font-size: 1.5em;
  font-weight: 600;
}
p {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  font-weight: 600;
}
a:not(.menu a) {
  font-size: 1.3em;
}
ul {
  list-style: none;
  display: inline-block;
}
/* fine regole generali */
.header_top {
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}
/* Definisco e centro logo */
#logo {
  position: relative;
  height: 100%;
}
#logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
/* Menu inline */
.container.menu {
  line-height: 80px;
}
.menu ul {
  padding: 0 5px;
}
.menu ul li {
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
}
.menu ul li a {
  color: black;
}
.menu nav {
  float: right;
}
.menu ul.languages li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* Parte Jumbotron */
.jumbotron {
  height: 500px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.jumbo_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.jumbo_text p {
  padding: 20px 0;
}
/* Inizio main  */
.item {
  text-align: center;
  background-color: #fafafa;
  margin: 40px 20px;
  padding: 40px;
}
.item span.lg-display-block {
  display: block;
}
.item .item_description, .item a {
  display: block;
}
.item .item_title {
  font-size: 3em;
  font-weight: 600;
}
.item .item_description {
  font-size: 1.8em;
  font-weight: 400;
  padding: 20px 0;
}
.item a {
  color: #0007ff;
}
.item_image img {
  height: 400px;
  padding-top: 10px;
}
/* Parte banner */
.banner {
  height: 400px;
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.under_banner {
  padding: 130px 0;
  position: relative;
}
.text_left span {
  font-size: 2.5em;
}

.phone img {
  width: 400px;
  position: absolute;
  top:-90%;
  left: 50%;
  transform: translateX(-50%);
}
.text_right .float_right {
  float: right;
  text-align: left;
}
/* Parte Smart Mobility */
.smart_mobility {
    height: 400px;
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 20px;
  }
.smart_mobility a, .section_app a {
  color: white;
}
.smart_mobility .smart_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.smart_mobility .smart_text {
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smart_text p {
  padding: 20px 0;
}
/* Parte sezione app */
.section_app {
  color: white;
}
.section_app p {
  padding: 10px 0;
}
.helbiz_app, .helbiz_cities {
  height: 350px;
}
.helbiz_app {
  background: linear-gradient(#415669, #253039);
  overflow: hidden;
  margin-right: 10px;
}
.helbiz_app_text, .helbiz_cities {
  text-align: center;
  padding-top: 20px;
}
.helbiz_app_text a {
  padding: 0 10px;
}
.helbiz_app_image img {
  width: 100%;
}
.helbiz_cities {
  background-image: url(../img/Cities-1500.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}
/* Sezione social banner */
.social_banner {
  height: 400px;
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 0;
  position: relative;
}

.social_banner .social_text {
  display: inline-block;
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social_text h3 {
  padding-bottom: 10px;
}
.social_text li, .footer_bottom li {
  display: inline;
}
.social_text a {
  color: black;
  padding: 0 10px;
}
.social_text i {
  font-size: 2em;
}
/* Inizio footer */
footer {
  background-color: black;
  color: white;
}
.footer_top img {
  height: 18px;
  padding-left: 10px;
}
.footer_top .container {
  padding: 100px 0 50px;
}
.footer_top h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer_top a {
  color: #6f6f6f;
}
.footer_top li {
  padding: 10px 0;
}
/* Footer inferiore */
.footer_bottom .container:first-of-type {
  height: 100px;
  line-height: 100px;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
}
.footer_bottom i {
  color: white;
  font-size: 20px;
  padding: 0 10px;
}
.footer_bottom a {
  color: white;
}
.footer_bottom .conditions a:last-child::before {
  content: '\00A9';
}
.footer_app {
  text-align: center;
  padding: 30px 0;
}
.footer_app img {
  border: 1px solid #6f6f6f;
  border-radius: 10px;
}
/* Media queries */
@media screen and (max-width: 992px) {
  .header_top i {
    float: right;
    font-size: 50px;
    line-height: 80px;
    padding-right: 20px;
    cursor: pointer;
  }
  .logo_md_xs img {
    height: 25px;
  }
  .smart_mobility {
    margin-top: 400px;
  }
  .social_banner .social_text {
    padding: 30px 60px;
  }
  .social_text h3 {
    font-size: 2em;
  }
  .social_text a {
    padding: 0 5px;
  }
  .social_text i {
    font-size: 1.5em;
  }
  .footer_top #logo_white {
  padding-bottom: 80px;
  }
  .footer_top #logo_white, .footer_top .helbiz_link, .footer_bottom .social_icon, .footer_bottom .conditions {
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .jumbotron img {
    height: 75px;
  }
  .phone img {
    width: 500px;
  }
  .smart_mobility .smart_text {
    width: 50%;
    left: 70%;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron .jumbo_text h1 {
    font-size: 2.5em;
  }
  .jumbotron .jumbo_text p {
    font-size: 1em;
  }
  .phone img {
    width: 600px;
  }
  .smart_mobility .smart_text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
  }
  .helbiz_app {
    margin: 0 0 20px 0;
  }
  .helbiz_cities {
    margin-left: 0;
  }
  .footer_top .helbiz_link > div {
    padding-bottom: 80px;
  }
}
