/* Regole generali */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 80px;
}
h1 {
  font-size: 4em;
}
p {
  font-size: 1.3em;
}
/* fine regole generali */
.header_top {
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}
/* Definisco e centro logo */
.logo {
  position: relative;
  height: 100%;
}
.logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
/* Menu inline */
.container.menu {
  line-height: 80px;
}
.menu ul {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}
.menu ul li {
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.menu nav {
  float: right;
}
.menu ul.languages li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* Parte Jumbotron */
.jumbotron {
  height: 500px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.jumbo_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.jumbo_text p {
  padding: 20px 0;
}
/* Inizio main  */
.item {
  text-align: center;
  background-color: #fafafa;
  margin: 40px 20px;
  padding: 40px;
}
.item span.lg-display-block {
  display: block;
}
.item .item_description, .item a {
  display: block;
}
.item .item_title {
  font-size: 3em;
  font-weight: 600;
}
.item .item_description {
  font-size: 1.8em;
  font-weight: 400;
  padding: 20px 0;
}
.item a {
  color: #0007ff;
  text-decoration: none;
  font-size: 1.2em;
}
.item_image img {
  height: 400px;
  padding-top: 10px;
}
/* Parte banner */
.banner {
  height: 400px;
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-position: left;
}
.under_banner {
  padding-top: 130px;
  position: relative;
}
.text_left span {
  font-size: 2.5em;
}

.phone img {
  width: 400px;
  position: absolute;
  top:-150%;
  left: 50%;
  transform: translateX(-50%);
}
.text_right .float_right {
  float: right;
  text-align: left;
}
/* Media queries */
@media screen and (max-width: 992px) {
  .header_top i {
    float: right;
    font-size: 50px;
    line-height: 80px;
    padding-right: 20px;
  }
  .logo_md_xs img {
    height: 25px;
  }
  .logo_md_xs span {
    font-size: 35px;
  }
  .item .item_description {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .jumbotron img {
    height: 75px;
  }
  .phone img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron .jumbo_text h1 {
    font-size: 2.5em;
  }
  .jumbotron .jumbo_text p {
    font-size: 1em;
  }
  .phone img {
    width: 600px;
  }
}
